<!doctype html>
<html ng-app="flavoralert">
  <head>
    <title>YogurtLab Flavor Alerts</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/web/flavor.css">
  </head>
<body>
  <div id="left" ng-controller="CurrentFlavors">
    <h3>By Location</h3>
    <span ng-repeat="(loc, flavors) in locs">
      <span class="header">{{loc}}</span>
      <ul>
        <li ng-repeat="flavor in flavors">
          {{flavor}}
        </li>
      </ul>
    </span>
  </div>
  <div id="middle" ng-controller="CurrentFlavors">
    <h3>By Flavor</h3>
    <span ng-repeat="(flavor, locs) in flavors">
      <span class="header">{{flavor}}</span>
      <ul>
        <li ng-repeat="loc in locs | orderBy:'toString()'">
          {{loc}}
        </li>
      </ul>
    </span>
  </div>
  <div id="right" ng-controller="AllFlavors">
    <h3>Set Alerts</h3>
    <span ng-controller="Alerting">
      <a ng-if="meta.authenticated == 'false'" href="{{meta.login_url}}">login</a>
      <a ng-if="meta.authenticated == 'true'" href="{{meta.logout_url}}">logout</a>
    </span>
    <ul>
      <li ng-repeat="flavor in flavors | orderBy:'toString()'">
        {{flavor}}
        <span ng-controller="Alerting">
          <input ng-if="meta.authenticated == 'true'" type="checkbox" ng-click="save()" ng-true-value="{{flavor}}" id="{{flavor}}"/>
        </span>
      </li>
    </ul>
  </div>
</body>
</html>